BASE_URL=https://gi2cijr3xa.eu-west-1.awsapprunner.com
TEST_USER_EMAIL=perf@test.com
TEST_USER_PASSWORD=Perf123!
CITY=Pretoria

PERF_TEST_PREFIX=perf-tests/ #need to add
PERF_TEST_EMAIL=perf@test.com #need to add
CLOUDFRONT_URL=https://d1ij89nbpof6q0.cloudfront.net #need to change
UPLOADS_CDN_DOMAIN=https://d1ij89nbpof6q0.cloudfront.net
S3_BUCKET_NAME=w2w-uploads-prod-7h2k9a #already added